<div class="mainmenu">

    <ul>
        <li class="li_nc"><a href="/" target="_self">
            <img style="height: 40px; margin-top: 5px" src="http://www.phcvaleo-webcat.com/eng/_include/image/common/logo.jpg"/>
        </a></li>
        <div style="float: right; margin-top: 15px;">
            <li class="li_nc"><a href="/" target="_self">
                <i style="color: #396EB0" class="fa-solid fa-user"></i>
            </a></li>
            <li class="li_nc"><a href="/" target="_self"><i style="color: #396EB0" class="fa-solid fa-magnifying-glass"></i></a></li>
        </div>
    </ul>


</div>